@font-face {
  font-family: "Graphik LC TT";
  src: url(../graphik/GraphikLCG-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-weight: normal;
}

.navigation {
  background: hwb(0 100% 0%);
  padding: 31px 51px 24px 51px;
}
.navigation .navigation__blok {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navigation .blok__list {
  display: flex;
  gap: 50px;
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  font-family: "Graphik LC TT";
  width: 100%;
}

.blok__button {
  display: flex;
  gap: 10px;
}

.button {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: transparent;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
  font-family: "Graphik LC TT";
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
  white-space: nowrap;
  font-family: Graphik LC TT;
}
.button--login {
  background: #fdfcfc;
  color: #000;
  padding-left: 31px;
  padding-right: 31px;
}
.button--try {
  background: #FF6336;
  border: 1px solid #FF6336;
  padding-left: 21px;
  padding-right: 21px;
  color: #FFF;
}

.line {
  border: solid 1px #dddbdb;
}

.contener-one {
  display: flex;
  padding: 97px 75px 147px 75px;
  justify-content: center;
  align-items: flex-start;
  gap: 39.984px;
}
.contener-one .contener-one__info {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.contener-one .contener-one__texst {
  color: #000;
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px;
  font-family: "Graphik LC TT";
}
.contener-one .contener-one__texst2 {
  color: #000;
  width: 75%;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  font-family: "Graphik LC TT";
}
.contener-one .contener-one__info .blok__button {
  flex-direction: row-reverse;
}
.contener-one .contener-one__info .button--login {
  padding-left: 29px;
  padding-right: 29px;
  line-height: 60px;
}
.contener-one .contener-one__info .button--try {
  padding-left: 42px;
  padding-right: 41px;
  line-height: 60px;
}
.contener-one .contener-one__texst3 {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  font-family: "Graphik LC TT";
}

.contenertwo {
  background: #FF9C7D;
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding-top: 98px;
  padding-bottom: 110px;
}
.contenertwo .contenertwo__span {
  color: #000;
  text-align: center;
  width: 45%;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  font-family: "Graphik LC TT";
}
.contenertwo .contenertwo__logo {
  gap: 85px;
  display: flex;
  justify-content: center;
}

.contener-three {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 100px 75px 200px 75px;
}
.contener-three .contener-three__imeg--color {
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
}
.contener-three .contener-three__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}
.contener-three .contener-three__info .info__texst {
  color: #000;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  font-family: "Graphik LC TT";
  width: 70%;
}
.contener-three .contener-three__info .info__texst2 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  font-family: "Graphik LC TT";
  width: 65%;
}
.contener-three .contener-three__info .info__texst2 u {
  text-decoration-line: underline;
}
.contener-three .contener-three__info .info__texst3 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  font-family: "Graphik LC TT";
}

.contener-four {
  padding-left: 75px;
  padding-right: 75px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 238px;
}
.contener-four .contener-four__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}
.contener-four .contener-four__info .info__texst {
  color: #000;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  font-family: "Graphik LC TT";
  width: 70%;
}
.contener-four .contener-four__info .info__texst2 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  font-family: "Graphik LC TT";
  width: 85%;
}
.contener-four .contener-four__info .info__texst2 u {
  text-decoration-line: underline;
}
.contener-four .contener-four__info .info__texst3 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  font-family: "Graphik LC TT";
}

.contener-six {
  padding-left: 75px;
  padding-right: 75px;
  margin-bottom: 150px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 178px;
}
.contener-six .blok {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contener-six .blok .contener_imeg {
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 119px 66px 158px 66px;
  background: #FFF8E4;
}
.contener-six .blok img {
  background: #FFF;
  padding: 30px;
}
.contener-six .contener-six__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}
.contener-six .contener-six__info .info__texst {
  color: #000;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  font-family: "Graphik LC TT";
  width: 70%;
}
.contener-six .contener-six__info .info__texst2 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  font-family: "Graphik LC TT";
  width: 100%;
}
.contener-six .contener-six__info .info__texst2 u {
  text-decoration-line: underline;
}
.contener-six .contener-six__info .info__texst3 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  font-family: "Graphik LC TT";
}

.contener-seven {
  background: #FFF8E4;
}
.contener-seven .contener-seven__contener {
  display: flex;
  padding: 120px 75px 93px 75px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 58px;
}
.contener-seven .contener-seven__contener u {
  text-decoration-line: underline;
}
.contener-seven .contener-seven__title {
  color: #000;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  font-family: "Graphik LC TT";
}
.contener-seven .contener-seven__blok {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.contener-seven .contener-seven__blok-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 21px 25px;
  width: 27%;
}
.contener-seven .contener-seven__blok-imeg {
  width: 160px;
  height: 120px;
}
.contener-seven .contener-seven__blok-texst1 {
  color: #000;
  text-align: center;
  font-family: Graphik LC TT;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
}
.contener-seven .contener-seven__blok-texst2 {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  font-family: "Graphik LC TT";
}

.contener-eight {
  display: flex;
  flex-direction: column;
  margin: 75px 75px;
  padding-top: 154px;
}
.contener-eight u {
  text-decoration-line: underline;
}
.contener-eight .contener-eight__title {
  color: #000;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}
.contener-eight .contener-eight__blok {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 26px;
  gap: 31px;
}
.contener-eight .contener-eight__blok-list {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  gap: 25px;
}
.contener-eight .contener-eight__blok-imeg {
  width: 145px;
  height: 201px;
}
.contener-eight .contener-eight__blok-texst1 {
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  font-family: "Graphik LC TT";
}
.contener-eight .contener-eight__blok-texst2 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  font-family: "Graphik LC TT";
  width: 90%;
}
.contener-eight .contener-eight__blok-texst3 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  font-family: "Graphik LC TT";
}

.contener-ten {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 59px;
  padding-left: 75px;
  padding-right: 75px;
  background: #C9E8F2;
  padding-top: 63px;
  padding-bottom: 150px;
  background: #C9E8F2;
}
.contener-ten .contener-ten__blok-contener {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.contener-ten .contener-ten__blok-texst1 {
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  font-family: "Graphik LC TT";
  width: 95%;
  padding-bottom: 23px;
}
.contener-ten .contener-ten__blok-texst2 {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  font-family: "Graphik LC TT";
}
.contener-ten .contener-ten__blok-svg {
  width: 115.216px;
  height: 25px;
}

.contener-eleven {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #DABC98;
  padding: 70px 76px 84px 74px;
  gap: 10px;
}
.contener-eleven .contener-eleven__blok {
  display: flex;
  gap: 65px;
  justify-content: center;
  align-items: center;
}
.contener-eleven .contener-eleven__blok-imeg {
  width: 176px;
  height: 154px;
}
.contener-eleven .contener-eleven__blok-texst {
  color: #000;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
  font-family: "Graphik LC TT";
}
.contener-eleven .contener-eleven__blok-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
}
.contener-eleven .contener-eleven__blok-icon {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 30%;
}
.contener-eleven .contener-eleven__blok-texst2 {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  font-family: "Graphik LC TT";
  letter-spacing: 0.75px;
}
.contener-eleven .right {
  border-right: 1px solid #cc1111;
  width: 10px;
  height: 100%;
}

.contener-twelve {
  margin-left: 75px;
  margin-right: 75px;
}
.contener-twelve .contener-twelve__blok {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contener-twelve .contener-twelve__blok-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 169px;
}
.contener-twelve .contener-twelve__blok-texst1 {
  color: #000;
  text-align: center;
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: 75px;
  font-family: "Graphik LC TT";
  width: 70%;
}
.contener-twelve .contener-twelve__blok-texst2 {
  color: #000;
  padding-bottom: 25px;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  font-family: "Graphik LC TT";
  width: 41%;
}
.contener-twelve .contener-twelve__blok-button1 {
  margin-top: 25px;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  font-family: "Graphik LC TT";
  border: 1px solid #FF6336;
  background: #FF6336;
  padding-left: 20px;
  padding-right: 20px;
}

.contener-thirteen {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FF9C7D;
  margin-top: 120px;
  padding: 119px 328px 161px 328px;
}
.contener-thirteen .contener-thirteen__blok {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contener-thirteen .contener-thirteen__blok-texst1 {
  color: #000;
  text-align: center;
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: 75px;
  font-family: "Graphik LC TT";
  padding-bottom: 29px;
}
.contener-thirteen .contener-thirteen__blok-texst2 {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  font-family: "Graphik LC TT";
  padding-bottom: 54px;
}
.contener-thirteen .contener-thirteen__blok-button2 {
  border: 1px solid #000;
  background: #000;
  color: #FFFFFF;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  font-family: "Graphik LC TT";
}

.contener-fourteen {
  margin: 92px 95px 48px 75px;
  display: flex;
  gap: 140px;
  justify-content: center;
  align-items: baseline;
}
.contener-fourteen .contener-fourteen__list {
  flex-direction: column;
  display: flex;
}
.contener-fourteen .contener-fourteen__list-titel {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
  font-family: "Graphik LC TT";
  padding-bottom: 28px;
}
.contener-fourteen .contener-fourteen__list-texst {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  font-family: "Graphik LC TT";
  width: 60%;
  padding-bottom: 15px;
  padding-top: 11px;
}
.contener-fourteen .contener-fourteen__list-texst2 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  font-family: "Graphik LC TT";
}
.contener-fourteen img {
  width: 300px;
  padding-bottom: 31px;
}
.contener-fourteen .contener-fourteen__colums {
  display: flex;
  justify-content: space-between;
  gap: 142px;
}
.contener-fourteen .contener-fourteen__colums-list {
  gap: 21px;
  display: flex;
  flex-direction: column;
}
.contener-fourteen .contener-fourteen__colums-titel {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  font-family: "Graphik LC TT";
}
.contener-fourteen li {
  padding-top: 15px;
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  font-family: "Graphik LC TT";
  width: 150%;
}

.border {
  border: solid 1px #101010;
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 95px;
}

.contener-last {
  margin: 48px 75px 48px 75px;
  display: flex;
  align-items: center;
}
.contener-last .contener-last__texst {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  font-family: "Graphik LC TT";
  color: #000;
  width: 70%;
  padding-left: 14px;
}
.contener-last span {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  font-family: "Graphik LC TT";
}
.contener-last .contener-last__texst2 {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=style2.css.map */